  .item{
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 10px 10px;
    background-color: coral;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .itemImg{
    max-width: 50px;
  }
  .itemText{
  
  }