* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper{
  max-width: 100%;
  padding: 0 100px;
  background-color: gray;
}
.wrap-in{
  max-width: 1500px;
  margin: 0 auto;
  background-color: darksalmon;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 4fr 9fr;
  grid-template-areas: 'header header'
                        'nav profile';
  grid-gap: 10px;
}

.wrapContent{
  background-color: darkcyan;
  grid-area: profile;
  display: flex;
  flex-direction: column;
}
p{
  margin: 0;
}


