  .head{
    display: grid;
    margin-bottom: 40px;
  }
  .headTitle{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .headInputWrap{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;
  }
  .headInput{
    display: block;
    max-width: 90%;
  }
  .btn{
    display: block;
    max-width: 150px;
    text-transform: uppercase;
    padding: 5px 0px;
    background-color: coral;
    border: none;
    border-radius: 5px;
  }